<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl"><%= t('article.new_page_title') %></h1>

  <%= render "form", article: @article %>

  <%= link_to t('article.index_button'), articles_path, class: "transition duration-300 text-center mt-4 bg-indigo-500 
                              hover:bg-indigo-400 text-white font-bold py-3 px-4 border-b-4 
                              border-indigo-700 hover:border-indigo-500 rounded" %>
</div>
